
---
import type { CollectionEntry } from 'astro:content'
import SEO from '../components/seo.astro'
import Header from '../components/header.astro'
import Footer from '../components/footer.astro'
import Gallery from '../components/gallery.astro'
import { SiteMetadata } from '../config'

export interface Props {
  frontmatter: CollectionEntry<'blog'>['data'] | CollectionEntry<'page'>['data']
  schema?: string
}

const { frontmatter, schema = 'WebPage' } = Astro.props

export const prerender = true; 
---

<!doctype html>
<html lang='pt-br' itemscope itemtype={`https://schema.org/${schema}`}>
  <head>
    <meta charset='UTF-8' />
    <!-- Melhorar a responsividade com o viewport meta tag -->
    <meta name='viewport' content='width=device-width, initial-scale=1' />
    
    <!-- Ajustar favicon para responsividade em telas de alta densidade -->
    <link rel='icon' href={`${Astro.site}favicon.ico`} sizes='any' />
    <link rel='icon' href={`${Astro.site}favicon.svg`} type='image/svg+xml' width='64' height='64'/>
    <link rel='apple-touch-icon' href={`${Astro.site}apple-touchicon.png`} />
    <link rel='manifest' href={`${Astro.site}site.webmanifest`} />
    <link rel='sitemap' href={`${Astro.site}sitemap-indexxml`} />
    <link rel='alternate' type='application/rss+xml' title={SiteMetadata.title} href={`${Astro.site}rss.xml`} />
    <meta name='generator' content={Astro.generator} />
    <SEO frontmatter={frontmatter} />
    <script is:inline>
      const setDarkMode = () => {
        if (
          localStorage.theme === 'dark' ||
          (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)
        ) {
          document.documentElement.classList.add('dark')
        } else {
          document.documentElement.classList.remove('dark')
        }
      }
      setDarkMode() // inicial
      document.addEventListener('astro:after-swap', setDarkMode) // Transições de view
    </script>

    <!-- Adicionando transições suaves para mudança de tema -->
    <style is:inline>
      [x-cloak] {
        display: none !important;
      }
      .markmap > svg {
        width: 100%;
        height: auto;
        max-height: 400px;
      }
      body {
        transition: background-color 0.3s ease, color 0.3s ease;
      }
    </style>
    {
      frontmatter.extra?.includes('math') && (
        <link
          rel='stylesheet'
          href='https://cdn.jsdelivr.net/npm/katex@0.16.7/dist/katex.min.css'
          integrity='sha384-3UiQGuEI4TTMaFmGIZumfRPtfKQ3trwQE2JgosJxCnGmQpL/lJdjpcHkaaFwHlcI'
          crossorigin='anonymous'
        />
      )
    }
    <slot name='in-head' />
  </head>
  <body class='dark:bg-gray-900'>
    
    <Header aria-label="Site Header" />
    <slot />
    {frontmatter.gallery && <Gallery folder={frontmatter.gallery} />}
    <slot name='before-footer' />
    <Footer aria-label="Site Footer" />
    {
      frontmatter.extra?.includes('markmap') && (
        <script is:inline data-astro-rerun src='https://cdn.jsdelivr.net/npm/markmap-autoloader' />
      )
    }
    {
      frontmatter.extra?.includes('mermaid') && (
        <script is:inline data-astro-rerun type='module'>
          import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid@10/dist/mermaid.esm.min.mjs';
          mermaid.initialize({ startOnLoad: true });
        </script>
      )
    }
  </body>

</html>
